.navbar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;


    .navbarWrapper {
        height: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .topLeft {

            .logo {
                font-weight: bold;
                font-size: 30px;
                color: darkblue;
                cursor: pointer;
            }
        }

        .topRight {
            display: flex;
            align-items: center;

            .navbarIconContainer {
                position: relative;
                cursor: pointer;
                margin-right: 10px;
                color: #555;

                .topIconBadge {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: -5px;
                    right: 0px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                }
            }

            .info {
                position: relative;



                .topAvatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                .options {
                    display: none;
                    background-color: #000;
                    color: #fff;
                    position: absolute;
                    right: 0;
                    top: 40px;
                    text-align: right;
                    border-radius: 8px;

                    p {
                        padding: 4px 8px;
                        cursor: pointer;
                    }

                    &.open {
                        display: block;
                    }
                }


            }
        }
    }

}